<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="FIT2CLOUD团队" />
   <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">FIT2CLOUD官方博客</a>
    <a class="extra" href="/">主页</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        <a>邮件:support@fit2cloud.com</a><br/>
        <a href="http://github.com/fit2cloud/">GitHub:github.com/fit2cloud</a><br/>
        <a href="http://twitter.com/mojombo/">微博:weibo.com/fit2cloud</a><br/>
      </p>
    </div>
    <div class="rss">
      <a href="http://blog.fit2cloud.com/atom.xml">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<a href="http://github.com/fit2cloud/blog.fit2cloud.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<!-- Baidu Analytics -->
<script>
  var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?88d4203ccc4752cdeec4ed5f1bcb19f0";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
</script>
<!-- Baidu Analytics end -->

</body>
</html>
